.toggle_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toggle_container button {
  margin-bottom: 5px;
}
.toggleActiveRound {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #B2D9FD;
  background-color: #B2D9FD;
  cursor: pointer;
}

.toggleUnActiveRound {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #B2D9FD;
  background-color: white;
  cursor: pointer;
}

.toggleActiveRect {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #B2D9FD;
  background-color: #B2D9FD;
  cursor: pointer;
}

.toggleUnActiveRect {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #B2D9FD;
  background-color: white;
  cursor: pointer;
}



.css-julti5-MuiSwitch-root {
  padding: 5px;
}
