.askListWrap {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    min-height: 34px;
    border-bottom: 1px solid rgba(0,0,0,0.6);
}

.askNumber {
    margin-left: 5px;
    color: black;
    opacity: 0.6;
    width: 30px;
}

.askTitle {
    width: 260px;
}

.askTitle:hover {
    cursor: pointer;
}

.askCommentIcon {
    width : 15px;
    color : #B2D9FD;
}
