#navQuick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.6);
    color: #0D216D;
    cursor: pointer;
}

#navQuick > svg {
    width: 22px;
    height: 22px;
}