.PointUsingHistory {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PointUsingDate {
  width: 15%;
}

.PointUsingType {
  width: 10%;
}

.PointUsingPoint{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PointUsingAmount {
 color: black;
}

.PointUsingBalance {
  font-size: 0.7rem;
  margin-top: 3px;
  color: rgb(0, 0, 0, 0.6);
}