.container {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
}

.campImg {
  width: 100%;
  height: 40%;
  object-fit: cover;
  position: relative;
}

.close {
  position:absolute;
  top: 3%;
  right: 5%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
  font-size: 2em;
  color: #0077E4;
  background-color:rgb(255, 255, 255, 0.5) ;
  cursor: pointer;
}

.campInfo_box {
  width: 100%;
  height: 60%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campSubTitle{
  color : black;
  opacity: 0.6;
}

/* header */
.campInfo_box .header {
  /* border: 1px solid blue; */
  height: 20%;
}

/* content */
.campInfo_box .content {
  /* border: 1px solid red; */
  height: 45%;
}

.campInfo {
  display: flex;
  justify-content: space-between;
}

/* progressBar */
.campInfo_box .progressBar {
  /* margin-bottom: 20px; */
  height: 15%;
}

.campProgress {
  display: flex;
  justify-content: space-between;
  color : #0077E4;
}

.campProgressFrontBar{
  max-width: 100%;
  height: 5px;
  background-color : #0077E4;
  border-radius: 10px;
}

.campProgressBackBar{
  height: 5px;
  background-color : #D9D9D9;
  border-radius: 10px;
}

.DoBtn{
  /* margin-bottom: 20px; */
  height: 20%;
}