.container {
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  /* background-color: antiquewhite; */
}

.header {
  height: 20%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selectRepot_box {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.report {
  height: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.report_box {
  background-color: lightgrey;
  height: 25%;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}