.mainQuick {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  cursor: pointer;
}

.mainQuick:hover {
  border: 2px solid #B2D9FD;
}


.mainQuickIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mainQuickTitle {
  margin: 0px;
  color: #0077E4;
}

.container {
  display: flex;
  justify-content: space-between;
}