.datebox {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center
}

/* 전, 후 주간 버튼 */
.datebox button {
  width: 20px;
}

/* 날짜 */
.day, .SelectedDay {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: calc(100% / 7);
  border-radius: 8px;
  cursor: pointer;
}

.SelectedDay {
  /* border: 1px solid red; */
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.4);
}

/* 요일 */
.dayText {
  color: rgb(0, 0, 0, 0.6);
}

.Sun {
  color: #0077E4; 
}

.Sat {
  color: #B2D9FD; 
}

.arrow {
  font-size: 1.5em;
  color: #0077E4;
  cursor: pointer;
}

