.container {
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  /* background-color: antiquewhite; */
  position: relative;
}

.header {
  height: 20%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_box {
  /* border: 1px solid purple; */
  width: 100%;
  height: 80%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*  */
.todolist {
  /* border: 1px solid orange; */
  height: 88%;
  margin-bottom: 15px;
}

.subTitle {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goReport {
  display: flex;
  align-items: center;
  color: #0077E4;
  cursor: pointer;
}
.goReport svg {
  font-size: 1.2em;
}
.goReport span {
  text-decoration: underline;
}

.todoContent_box {
  width: 100%;
  height: 90%;
  padding: 2px 4px;
  overflow-y: scroll;
}

/* 스크롤바css */
.todoContent_box::-webkit-scrollbar {
  width: 5px;
}

.todoContent_box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}

.todoContent_box::-webkit-scrollbar-thumb:hover {
  background-color: rgb(178, 217, 253, 0.5);
}

.todoAdd_page {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: inherit;
  /* background-color: white; */
}

.todoEdit_page {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: -webkit-fill-available;
  /* background-color: white; */
}

.close {
  position: absolute;
  top: 26.5%;
  right: 5%;
}

.todo_input {
  height: 100%;
}