.ContentsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 40px;
  margin-left : 20px;
  margin-right: 20px;
}

.MenuBox {
  margin-top: 50px;
}

.LogoutBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-decoration: underline;
  margin-top: 140px;
}